<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivid Luxury</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="w-full h-full bg-white">
    <div class="p-10 flex">
        <h1 class="text-3xl  header tracking-tigher">Vivid <span class="text-blue-500">Luxury</span></h1>
        <a href="/users/logout" class="text-white px-3 py-2 bg-red-500 rounded-md ml-auto">Logout</a>
    </div>

    <div class="footer py-3  text-center bg-blue-300 text-white">
        <footer class="w-full">All rights reserved @2024 </footer>
    </div>
</body>
</html>